.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header{
  background-color: #7DB18F;
  padding-bottom: 20px;
  border: 1px solid ;
  border-color: #5D5A5A;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) ;
}
.header h1{
  color: #5D5A5A;
   
}

.header h2{
  color: #5D5A5A
}



/* use colour palette created fith five main colours*/