.header-image {
  background-image: url('Troll.jpeg');
  background-size: cover; 
  height: 300px; 
  margin-top: 20px; 
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav {
  margin-top: 20px;
  text-align: center; /* Center the navigation */
}

.nav ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex; /* Use inline-flex to center the list horizontally */
}

.nav ul li {
  margin-right: 10px;
}

.nav ul li:last-child {
  margin-right: 0;
}

.nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #5D5A5A;
  color: #fff;
  border-radius: 5px;
}

.nav ul li a:hover {
  background-color: #74AFB8;
}

/* use colour palette created fith five main colours*/