.header {
  position: relative;
  background-image: url('Assets/Images/Troll.jpg');
  background-size: cover; 
  height: 400px; 
  margin-top: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-text {
  text-align: center;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5D5A5A;
  margin: 0;
}

/* CSS for navigation */
.nav {
  position: absolute; /* Position the navigation bar */
  top: 10px; /* Adjust the top position as needed */
  width: 100%; 
  z-index: 1;
  text-align: center; 
}

.nav ul {
  list-style-type: none;
  padding: 0;
  display: inline-flex;
}

.nav ul li {
  margin-right: 10px;
}

.nav ul li:last-child {
  margin-right: 0;
}

.nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #5D5A5A;
  color: #fff;
  border-radius: 5px;
}

.nav ul li a:hover {
  background-color: #74AFB8;
}